.puzzle_index{
  .my-form-group{
    // display: -webkit-flex;
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    height:120px;
    .target-label{
      -webkit-flex:none;
      flex:none;
      width:150px;
      margin-left: 20px;
    }
    .target-image{
      width: 100px;
      height: 100px;
    }
  }
  .submit_btn{
    margin-left: 5px;
  }
  .links{
    margin: 10px 0;
  }
}
