$link_color: #ff4500;

.top_index{
  .main{
    background-image: url("/assets/images/haikei_top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hack_link{
    padding: 100px 0 80px;
    text-align: center;
    font-size: 40px;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: center; /* Safari */
    justify-content:         center;
    -webkit-align-items:center; /* Safari */
    align-items:center;
    a{
      color: $link_color;
    }
  }
  .winner_link{
    text-align: center;
    font-size: 24px;
    a{
      color: $link_color;
    }
  }
}
