<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><i class="fa fa-pencil"></i><%= link_to "MyBlog",   'http://mikkabouzubrowse.hatenablog.com/' %></li>
        <li><i class="fa fa-puzzle-piece"></i><%= link_to "Puzzling a Puzzler", 'http://puzzling-a-puzzler.herokuapp.com/' %></li>
      </ul>
    </nav>
  </div>
</footer>
